.contact_wrapper svg {
  // font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}
.contact_wrapper {
  padding: 30px;
  border-radius: 5px;
  box-shadow:
    0 0 25px rgba(255, 255, 255, 0.10),
    0 0 60px rgba(255, 255, 255, 0.05);
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #facc15;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: "DomaineDispNar-Medium", sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}
.light-mode {
 .contact_wrapper {
  padding: 30px;
  border-radius: 5px;
  box-shadow:
    0 0 25px rgba(145, 142, 142, 0.9),
    0 0 60px rgba(160, 158, 158, 0.9);
}
}